In [1]:
print("Hello tout le monde")

Hello tout le monde

## Titre

#### Sous titre

Paragraphe d'introduction

* Premier
* Deuxieme

In [3]:
print(a)

2

In [2]:
a = 2

In [8]:
ma_variable = 2
print(ma_variable)
print(type(ma_variable))

# ma_variable = "bonjour"

# print(ma_variable)
# print(type(ma_variable))

2
<class 'int'>
bonjour
<class 'str'>

In [11]:
2 + "bonjour"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
print(b)

NameError: name 'b' is not defined

In [12]:
a = 2
b = 2.04
c = (1 + 1j)**2
print(c)
d = True 
e = False
print(type(d))
f = None

2j
<class 'bool'>

In [15]:
print( 8 / 5) # Sur python 3 donne un float. Sur python 2 donne un entier

1.6

In [16]:
print( 8 // 5)

1

In [19]:
print( True or False )
print( True and False )
print(d or e)

True
False
True

In [20]:
# Nom de classe en CamelCase ex: UneClasse
# Nom des variables snake_case ex: ma_varaibel, ma_fonction
# PEP8 pour les conventions de coding stlye

A = 4
a = 2 
a == A

False

In [21]:
2 | 4

6

In [23]:
2 & 6

2

In [38]:
import numpy as np
# numpy est la librairie de calcul matriciel

matrice_a = np.ones((4,4))
matrice_a[2,2]

1.0

In [30]:
ma_chaine = "Bonjour tout le monde"

print(ma_chaine)
print(ma_chaine[0])
print(ma_chaine[1])
print(ma_chaine[-1])

Bonjour tout le monde
B
o
e

In [31]:
a = "bonjour"
print("a")
print(a)

a
bonjour

In [34]:
# Existe uniquement dans python 3

nom = "Dupont"
prenom = "Xavier"

print("Bonjour " + nom + " " + prenom)
print(f"Bonjour {nom} {prenom}")

Bonjour Dupont Xavier
Bonjour Dupont Xavier

In [44]:
ma_liste = [2, True, "Bonjour", 10, [15, 4]]
ma_liste[-1][-1]
print(2 in ma_liste)
print(11 in ma_liste)

True
False

In [46]:
nom = "prenom"
mon_dico = {"nom": "Dupont", "prenom": "Laurent"}
print(mon_dico["nom"])
print(mon_dico[nom])
print("dupont" in mon_dico)
print("nom" in mon_dico)

Dupont
Laurent
False
True

In [48]:
len(ma_liste)

1 == True

True

In [60]:
print(ma_liste)
print(ma_liste[0:-1])
print(ma_liste[0:len(ma_liste)])
print(ma_liste[:-1])
print(ma_liste[:])
print(ma_liste[2:])
print(ma_liste[::2])
print(ma_liste[1::2])
print(ma_liste[::-2])
nouvelle_liste = ma_liste[1::2]

[2, True, 'Bonjour', 10, [15, 4]]
[2, True, 'Bonjour', 10]
[2, True, 'Bonjour', 10, [15, 4]]
[2, True, 'Bonjour', 10]
[2, True, 'Bonjour', 10, [15, 4]]
['Bonjour', 10, [15, 4]]
[2, 'Bonjour', [15, 4]]
[True, 10]
[[15, 4], 'Bonjour', 2]

In [63]:
a = [ 1 , 4 , 8 , [2, 3]]
b = a
b[0] = 6
print(a)

a = [ 1 , 4 , 8 , [2, 3]]
b = list(a)
b[0] = 6
b[-1][0] = 6
print(a)

[6, 4, 8, [2, 3]]
[1, 4, 8, [6, 3]]

In [65]:
a = 2.4
b = int(a)
print(b)
c = float(b)
print(c)
# str() list() dict() set()
print(set([2,4,8,2,2,2,16]))
len(set([2,4,8,2,2,2,16]))

2
2.0

4

In [ ]:
a = [ 1 , 4 , 8, 16, 18 , [2, 3]]
# du deuxième au dernier
# du premier à l'avant avant dernier
# un élément sur deux à partir du 3e élément
# un élément sur deux en sens inverse
# de l'avant dernier au 2e

In [73]:
age = 30

if age > 18:
    print("majeur")
elif age < 18:
    print("mineur")
else:
    print("tu as 18 ans")
    print("autre ligne")
    
print("Affiché quoiqu'il en soit")

majeur
Affiché quoiqu'il en soit

In [74]:
age = 24
while age > 18:
    print(age)
    age -= 1

24
23
22
21
20
19

In [75]:
for i in [4,2,3,10]:
    print(i)

4
2
3
10

In [76]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [85]:
list(range(15,100))

[15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

# Fizz Buzz

Pour tous les entiers de 0 à 100:
- afficher fizz s'il est divisible par 3
- afficher buzz s'il est divisible par 5
- afficher bazz s'il est divisible par 3 et 5
- sinon on affiche l'entier

In [86]:
for i in range(101):
    if i % 15 == 0:
        print("bazz")
    elif i % 5 == 0:
        print("buzz")
    elif i % 3 == 0:
        print("fizz")
    else:
        print(i)

bazz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
bazz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
bazz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
bazz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
bazz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
bazz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
bazz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [81]:
# help(np.ones)

In [82]:
# dir(a)

In [88]:
nom = raw_input("Quel est votre nom ?") # input pour la version 2
print(nom)

Quel est votre nom ?Martin
Martin

In [89]:
liste_noms = []
liste_noms.append("Mathieu")

liste_obj = []
liste_obj = liste_obj + [{"nom": "Barney"}]

In [90]:
students = []
continuer = True

while continuer:
    nom = input("Quel est votre nom ?")
    prenom = input("Quel est votre prenom ?")
    age = int(input("Quel est votre age ?"))
    students.append({
        "nom": nom,
        "prenom": prenom,
        "age": age
    })
    continuer = input("Voulez-vous continuer ? Y/N") == "Y"

Quel est votre nom ?Martin
Quel est votre prenom ?Jeanne
Quel est votre age ?19
Voulez-vous continuer ? Y/NY
Quel est votre nom ?Sand
Quel est votre prenom ?Georges
Quel est votre age ?46
Voulez-vous continuer ? Y/NN

In [93]:
students

[{'nom': 'Martin', 'prenom': 'Jeanne', 'age': '19'},
 {'nom': 'Sand', 'prenom': 'Georges', 'age': '46'}]

In [94]:
liste_noms = []
for s in students:
    liste_noms.append(s["nom"])

In [96]:
liste_noms = [s["nom"] for s in students]

In [97]:
liste_noms

['Martin', 'Sand']

In [98]:
liste_ages = [int(s["age"]) for s in students]

In [103]:
[ for i in liste_ages]

[38, 92]

In [104]:
import pandas as pd

In [105]:
df = pd.DataFrame(students)

In [106]:
df

      nom   prenom age
0  Martin   Jeanne  19
1    Sand  Georges  46

In [107]:
df.to_csv("dataframe.csv")

In [108]:
df.describe()

         nom   prenom age
count      2        2   2
unique     2        2   2
top     Sand  Georges  19
freq       1        1   1

In [114]:
df["age"] = df["age"].map(int)

In [116]:
df.describe()

             age
count   2.000000
mean   32.500000
std    19.091883
min    19.000000
25%    25.750000
50%    32.500000
75%    39.250000
max    46.000000

In [117]:
df["ageX2"] = df.age * 2
df

      nom   prenom  age  ageX2
0  Martin   Jeanne   19     38
1    Sand  Georges   46     92

In [119]:
df[df.age < 20]

      nom  prenom  age  ageX2
0  Martin  Jeanne   19     38